/* public/assets/fonts/ibm-plex-sans/ibm-plex-sans.css */
@font-face {
  font-family: 'IBM Plex Sans Var';
  src: url('/assets/fonts/ibm-plex-sans/IBM Plex Sans Var-Roman.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans Var';
  src: url('/assets/fonts/ibm-plex-sans/IBM Plex Sans Var-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}